@media (max-width: 768px) {
    #how {
        background-position: -500% 0% !important;
        background-size: auto 340px !important;
    }
}

@media (max-width: 992px) { 
    body {
        text-align: center;
    }

    h1 {
        font-size: 3.2em;
    }

    .navbar-button {
        display: block;
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow 0.15s ease-in-out;
    }

    .nav-item {
        margin-top: 15px;
    }
    
    .nav-cta {
        margin-left: 0;
    }

    .hero-image img{
        display: none;
    }

    .hero-img-mobile {
        display: flex;
        min-height: 400px;
        width: 100vw;
        margin-left: -12px;
        margin-right: -12px;
        background: linear-gradient(rgba(45, 38, 64, 0.3), rgba(45, 38, 64, 1)),
            url("images/image-intro.jpg");
        background-size: cover;
        background-position: center;
    }

    .pattern-left-desktop{
        content: url(images/bg-pattern-intro-left-desktop.svg);
        width: 120px;
        top: 350px;
    }

    .pattern-right-desktop{
        content: url(images/bg-pattern-intro-right-mobile.svg);
        top: 850px;
    }

    #hero hr {
        display: none;
    }
 
    .hero-image img {
        position: static;
    }

    #features {
        margin-top: 150px;
        margin-bottom: 100px;
    }

    #features hr {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #how {
        background-position: 200% 0%;
        margin-bottom: 150px;
    }

    #how button {
        margin-top: 30px;
        float: none !important;
    }

    #footer {
        padding-bottom: 20px;
    }

    #footer .contact {
        padding-left: 25%;
        padding-right: 25%;
    }

    #footer .contact a  {
        margin-left: auto;
        margin-right: auto;
    }

    #footer .footer-content {
        margin-bottom: 40px;
    }

 }

 @media (max-width: 1200px) { 
    .hero-image img {
        top: 350px;
        width: 450px;
    }

    #how {
    background-size: auto 300px;
    }

    #footer img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
 }