:root {
    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Violet: hsl(272, 19%, 87%);
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 1em;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 4.5em;
}

h2 {
    font-family: 'DM Serif Display', serif;
}

p {
    font-size: 1.1em;
}

.btn-outline-light {
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
}

/* navbar */

.navbar-button {
    display: none;
  }

.nav-link {
    font-weight: 700;
    text-transform: uppercase;
}

.nav-cta {
    border-style: solid;
    border-width: 2px;
    margin-left: 30px;
}

.nav-cta a {
    color: var(--Very-Dark-Violet) !important; 
}

.nav-cta:hover { 
    background-color: var(--Very-Dark-Violet);
}

.nav-cta:hover a { 
    color: var(--Very-Light-Gray) !important;
}

/* hero */

.bg-violet {
    background-color: var(--Dark-Violet);
}

.hero-content {
    margin-top: 110px;
    margin-bottom: 135px;
}

.hero-content hr {
    height: 2px;
    width: 25%;
    color: var(--Very-Light-Gray);
    margin-bottom: 65px;
}

.hero-content h1 {
    color: var(--Very-Light-Gray);
    margin-bottom: 25px;
}

.hero-content p {
    line-height: 1.8em;
    color: var(--Grayish-Violet);
}

.hero-image img {
    position: absolute;
    top : 200px;
    z-index: 1;
    margin-right: auto;
}

.hero-img-mobile {
    display: none;
}

.pattern-left-desktop {
    position: absolute;
    top : 600px;
    left: -30px;
    z-index: 1;
    pointer-events: none;
}

.pattern-right-desktop {
    position: absolute;
    top: 92px;
    right: 0px;
    z-index: 1;
    pointer-events: none;
}

/* features */

#features {
    margin-top: 300px;
    margin-bottom: 160px;
}

#features hr {
    width:12.5%;
    color: var(--Very-Dark-Violet);
    margin-bottom: 65px;
}

#features h1 {
    margin-bottom: 105px;
}

.features-item img {
    margin-bottom: 40px;
}

.features-item h2 {
    margin-bottom: 20px;
}

.features-item p {
    color: var(--Dark-Grayish-Violet);
}

/* how */

#how {
    background-color: var(--Dark-Violet);
    background-image: url('images/bg-pattern-how-we-work.svg');
    background-size: auto 265px;
    background-position-x: right;
    background-repeat: no-repeat;
    padding: 70px;
    margin-bottom: 150px;
}

#how h1 {
    font-size: 3em;
    color: var(--Very-Light-Gray);
}

/* footer */

#footer {
    position: relative;
    padding: 70px 0;
    background-color: var(--Very-Light-Gray);
    background-image: url('images/bg-pattern-footer.svg');
    background-repeat: no-repeat;
}

#footer h5 {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 700;
    color: var(--Dark-Grayish-Violet);
    margin-bottom: 15px;
}

#footer .social-icon {
    color: var(--Dark-Grayish-Violet);
    font-size: 2em;
    margin-left: 16px;
}

#footer .social-icon:hover {
    color: var(--Very-Dark-Violet);
    transition: 0.3s;
}

#footer hr {
    color: var(--Dark-Grayish-Violet);
    margin-bottom: 50px;
}

#footer .nav-link {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--Very-Dark-Violet);
}

#footer .nav-link:hover {
    text-decoration: underline;
}